header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 0;
  transition: 0.4s;
}

header.moved {
  padding: 10px 0;
}
header.moved .header-body {
  padding: 10px 20px;
}

.header-body {
  padding: 20px;
  gap: 20px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  background: var(--main-container);
  border-radius: 16px;
  justify-content: space-between;
}


.header-actions {
  gap: 12px;
}

.btn-login {
  padding: 9px 32px;
  background: var(--login-bg);
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  transition: 0.5s;
  color: var(--text-color);
}

.btn-register {
  background: var(--accent-color);
  padding: 9px 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--reg-color);
  border-radius: 6px;
  transition: .3s;
}

.btn-register:hover {
  background: var(--text-color);
}
.btn-login:hover {
  background: var(--text-color3);
  color: #EFF2F5;

}
[data-theme="dark"] .btn-login:hover{
  color: #1b1c1f;
}
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .header-body{
    padding: 12px;
    border-radius: 12px;
  }
  header{
    padding: 15px 0 ;
  }
  
.header-logo {
  margin-left: 4px;
  max-width: 75px;
}
header.moved .header-body{
  padding: 12px;
}

.btn-login {
  padding: 11px 12px;
  font-size: 14px;
  line-height: 18px;
}

.btn-register {
  padding: 11px 12px;
  font-size: 14px;
  line-height: 18px;
}
.header-body{
  gap: 10px;
}
}
